<%= simple_form_for @request do |f| %>
  <%= f.input :auction_number %>

  <%= f.input :etp %>

  <%= f.input :purchase_info, as: :text %>

  <%= f.input :max_price %>

  <%= f.input :customer, as: :text %>

  <%= f.input :delivery_place, as: :text %>

  <%= f.input :delivery_time, as: :text %>

  <%= f.input :exp_date %>

  <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %> или <%= link_to 'вернуться', requests_path%>

  <%= f.button :submit, 'Получить данные', name: 'get_data_button', class: 'btn btn-info' %>

  <div id="tasks" class="mt-3">
    <div class="row">
      <div class="col-md-12">
        <%= f.simple_fields_for :request_drugs do |request_drug| %>
          <%= render 'request_drug_fields', f: request_drug %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Добавить препарат', f, :request_drugs, class: 'btn btn-primary form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="customer_drugs mt-5">
    <p class="font-weight-bold">Препараты из документации</p>
    <table class="table table-bordered customer_drugs_table">
      <% if @request.customer_drugs.present? %>
        <thead class="table-secondary">
        <tr class="text-center ">
          <th class="align-middle">МНН</th>
          <th class="align-middle">Сведения о лекарственных формах, дозировках и единицах измерения</th>
          <th class="align-middle">Количество</th>
          <th class="align-middle">Цена за единицу</th>
          <th class="align-middle">Стоимость</th>
        </tr>
        </thead>
      <% end %>

      <% @request.customer_drugs.each do |drug| %>
        <tr>
          <td><%= drug.mnn %></td>
          <td><%= render partial: 'dosage', collection: drug.dosages %></td>
          <td class="text-center"><%= drug.quantity %></td>
          <td class="text-center"><%= drug.price %></td>
          <td class="text-center"><%= drug.cost %></td>
        </tr>
      <% end %>

    </table>
  </div>

  <%= f.simple_fields_for :customer_drugs do |f_drug| %>
    <%= f_drug.hidden_field :mnn %>
    <%= f_drug.hidden_field :quantity %>
    <%= f_drug.hidden_field :price %>
    <%= f_drug.hidden_field :cost %>

    <%= f_drug.simple_fields_for :dosages do |f_dosage| %>
      <%= f_dosage.hidden_field :form %>
      <%= f_dosage.hidden_field :value %>
      <%= f_dosage.hidden_field :unit %>
    <% end %>



  <% end %>




<% end %>





