<%= form_for @request do |f| %>
  <div class="form-group">
    <%= f.label :auction_number %>
    <%= f.text_field :auction_number, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :customer %>
    <%= f.text_field :customer, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %> или <%= link_to 'вернуться', :back%>
    <%= link_to 'Получить данные', get_values_request_path(:id) %>
  </div>
<% end %>
