<p id="notice"><%= notice %></p>

<%= render partial: 'request_drugs/request_drug', collection: @request_drugs %>

<%= render partial: 'request_drugs/form', locals:{drugs: @drugs} %>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>


